<h1 class="mt-5">
    Selectores anidados
</h1>
<hr>
<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- Primer select  Region -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">
                Continente
            </label>
            <select class="form-control"
                    formControlName="region">
                <option value="">
                    -- Seleccione Continente --
                </option>
                <option *ngFor="let region of regiones"
                        [value]="region| lowercase">
                    {{region}}
                </option>
            </select>
        </div>
    </div>
    <!-- Segundo Select Paises -->
    <div class="row mb-3" *ngIf="paises.length > 0">
        <div class="col">
            <label class="form-label">
                Pais:
            </label>
            <select class="form-control"
                    formControlName="pais">
                <option value="">
                    -- Seleccione el Pais --
                </option>
                <option *ngFor="let pais of paises"
                        [value]="pais.alpha3Code">
                    {{pais.name}}
                </option>
            </select>
        </div>
    </div>
    <!-- tercer select Fronteras -->
    <div class="row mb-3" *ngIf="fronteras.length > 0">
        <div class="col">
            <label class="form-label">
                Frontera
            </label>
            <select class="form-control"
                    formControlName="fronteras">
                <option value="">
                    -- Seleccione el pais fronterizo --
                </option>
                <option *ngFor="let frontera of fronteras"
                        [value]="frontera">
                    {{frontera}}
                </option>
            </select>
        </div>
    </div>


    <div class="row" *ngIf="cargando">
        <div class="col">
            <div class="alert alert-primary">
                Cargando...
            </div>
        </div>
    </div>


    <!-- Boton seleccionar -->
    <div class="row">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-info"
                    type="submit">
                Seleccionar
            </button>
        </div>
    </div>
</form>


<h3>Formularios</h3>
<pre> Valid: {{miFormulario.valid}} </pre>
<pre> Value: {{ miFormulario.value| json }} </pre>